.contact.section {
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  overflow: hidden;
  place-content: center;
  place-items: center;
  place-self: center;
  gap: var(--spacing-400);
}
.contact-title {
  font-size: var(--font-900);
  font-weight: bold;
  line-height: 1;
}

.contact-content {
  height: 80vh;
  height: 80dvh;
  align-content: center;
  justify-items: flex-start;
  align-content: center;
  display: grid;
  gap: var(--spacing-400);
}

.contact-address {
  margin-top: var(--spacing-600);
  align-self: flex-end;
}

footer {
  display: grid;
  z-index: 1;
  place-content: center;
  place-items: center;
  place-self: center;
  text-align: center;
  height: 5vh;
  height: 5dvh;
  width: 100vw;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  transform: scale(0.8);
}
.right-contact {
  display: none;
}
.left-contact {
  display: grid;
}
@media (max-width: 65em) {
  .contact.section {
    height: auto;
    max-height: none;
    overflow: scroll;
    padding: var(--spacing-400);
    display: grid;
  }

  .right-contact {
    display: grid;
  }
  .left-contact {
    display: none;
  }
  footer {
    position: relative;
    bottom: 0;
    transform: scale(0.8);
  }
  .contact-content {
    height: auto;
    height: auto;
  }

  .contact-address {
    margin-top: 0;
    align-self: center;
  }
  .social-links-list {
    display: flex;
    place-content: center;
    place-items: center;
    place-self: center;
    width: 100%;
  }
}
