.contact.section {
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  overflow: hidden;
  place-content: center;
  place-items: center;
  place-self: center;
  justify-content: space-between;
}

.contact-article {
  display: grid;
  justify-content: flex-start !important;
  align-content: center;
  text-align: left;
}
.contact-title {
  font-size: var(--font-900);
  font-weight: bold;
  line-height: 1;
  color: var(--primary-color);
}

.contact-description {
  font-size: var(--font-400);
  line-height: 1.5;
  width: min(85vw, 55ch);
  color: var(--secondary-color);
}

.contact-address {
  align-self: flex-end;
  max-width: 85vw;
}

.contact-views {
  width: 600px;
  height: 420px;
}

#form {
  width: 600px;
  height: 400px;
  max-height: unset;
}

.message {
  height: 100%;
  max-height: 262px;
}

.map {
  width: 600px;
  height: 400px;
  opacity: 0.7;
}

@media (max-width: 65em) {
  .display-none-mobile {
    display: none;
  }
  .contact-views {
    width: min(85vw, 380px);
    height: 320px;
  }

  #form {
    width: min(85vw, 380px);
    height: 300px;
    max-height: unset;
  }

  .message {
    height: 100%;
    max-height: 162px;
  }

  .map {
    width: min(85vw, 380px);
    height: 300px;
    opacity: 0.7;
  }
  .contact-title {
    font-size: var(--font-800);
  }
  .contact.section {
    height: auto;
    max-height: none;
    overflow: scroll;
    padding: var(--spacing-400);
    display: grid;
    margin-top: var(--spacing-700);
    gap: var(--spacing-100);
  }

  footer {
    position: relative;
    bottom: 0;
    transform: scale(0.8);
  }
  .contact-content {
    height: auto;
    height: auto;
  }

  .contact-address {
    margin-top: 0;
    align-self: center;
    padding: 0;
  }
  .social-links-list {
    display: flex;
    place-content: center;
    place-items: center;
    place-self: center;
    width: 100%;
  }
}

.svg-link {
  stroke-width: 10px;
  stroke: var(--primary-color);
}

.svg-link:hover {
  stroke-width: 10px;
  stroke: var(--secondary-color);
}
