.contact-section {
  height: 90vh;
  height: 90dvh;
  max-height: 90vh;
  max-height: 90dvh;
  overflow: hidden;
  place-content: center;
  place-items: center;
  place-self: center;
}
.contact-title {
  font-size: var(--font-900);
  font-weight: bold;
  line-height: 1;
}

.contact-content {
  height: 80vh;
  height: 80dvh;
  align-content: center;
  justify-items: flex-start;
  align-content: center;
  display: grid;
  gap: var(--spacing-400);
}

.contact-address {
  margin-top: var(--spacing-600);
  align-self: flex-end;
}

.social-links-list {
  margin-top: var(--spacing-400);
}
