body[single-page-layout="true"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background-color: var(--opacity-light-100);
  box-shadow: 10px 10px 1rem -0.1px rgba(85, 85, 85, 0.164);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  filter: blur(10px);
}
.testimonialSectionBackDrop {
  /*Outer container*/
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-700);
  height: 30vh;
  margin: var(--spacing-700) auto;
  border-radius: 0.5rem;
}

.testimonialSection {
  /* inner container*/
  display: grid;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  padding: var(--spacing-200);
  border-radius: 0.5rem;
  background-color: var(--opacity-light-100);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 1em -0.1px rgba(85, 85, 85, 0.164);
  opacity: 0.9;
}

.backgroundEffect {
  /* container background effect */
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 95%;
  height: 100%;
  opacity: 0.8;
}

.Right .backgroundEffect {
  left: unset;
  right: 0;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: min(18vmax, 225px);
  height: min(18vmax, 225px);
  border-radius: 50%;
  opacity: 0.8;
  filter: blur(40px);
}

.Right .circle {
  left: unset;
  top: unset;
  right: 0;
  bottom: 0;
}

.circle[attr="primary"] {
  background-color: var(--primary-color);
  transform: translate(50%, 50%);
}

.circle[attr="secondary"] {
  background-color: var(--primary-color-light);
}

.Right .circle[attr="primary"] {
  transform: translate(-25%, -50%);
}

.tes-Heading {
  /* hading text */
  margin-bottom: var(--spacing-200);
  font-size: var(--font-500);
  font-weight: 400;
  text-align: center;
}

.tes-authorContainer {
  /* author container*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 var(--spacing-200);
  text-transform: capitalize;
}

.tc-authorImage {
  /* author Image*/
  border-radius: 50%;
  height: min(8vmax, 100px);
  width: min(8vmax, 100px);
}
.tc-name {
  /* author name */
  line-height: 1;
  font-size: var(--font-200);
  font-weight: 300;
}
.tc-role {
  /* author role */
  color: var(--surface-grayish);
  font-size: var(--font-300);
  font-weight: 200;
}

.SectionMainEffect,
.testimonialMainEffect {
  /* main effect ring section */
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

.testimonialMainEffect {
  /* main effect ring testimonial */
  bottom: -2em;
  right: -2em;
}

.main-Ef-rel,
.mef-rel-container {
  position: relative;
  display: grid;
  place-items: center;
  place-content: center;
  place-self: center;
  width: min(10vmax, 150px);
  height: min(10vmax, 150px);
}

.Right .testimonialMainEffect {
  right: unset;
  left: -4rem;
}

.mef-outline {
  width: min(10vmax, 150px);
  height: min(10vmax, 150px);
  border-radius: 50%;
  border: 2px solid var(--surface-grayish);
}

.mef-circle {
  width: min(7vmax, 100px);
  height: min(7vmax, 100px);
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

.mef-icon {
  position: absolute;
  fill: var(--surface-grayish);
  max-width: var(--icon-800);
  max-height: var(--icon-800);
  opacity: 0.9;
}

.mef-circle[observing="true"] {
  box-shadow: 0 0 2em 0 var(--primary-color);
}

@media (max-width: 50em) {
  .testimonialMainEffect {
    bottom: -2.5rem;
    right: -1rem;
  }
  .Right .testimonialMainEffect {
    right: unset;
    left: -1rem;
  }
}

[blur="true"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background-color: var(--opacity-light-100);
  box-shadow: 10px 10px 1rem -0.1px rgba(85, 85, 85, 0.164);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  filter: blur(10px);
}

/* ? <--> Contact section <--> */

.contact-section {
  display: grid;
  grid-template-columns: 50% 40%;
  height: 90vh;
  height: 90dvh;
  gap: var(--spacing-100);
  padding: var(--spacing-600);
  place-items: center;
  place-self: center;
  place-content: center;
}

.cos-article {
  grid-column: 1;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-100);
}

.cos-title {
  font-family: var(--tertiary-font);
  font-weight: 800;
  font-size: var(--font-700);
}

.cos-description {
  font-weight: 300;
  font-size: var(--font-200);
  color: var(--surface-grayish);
}

.cos-action-buttons {
  justify-content: flex-start;
  margin: var(--spacing-400) 0;
  gap: var(--spacing-400);
}

.cos-button {
  width: var(--size-action-button);
}

.social-links-list {
  margin: var(--spacing-900) 0 0 0;
  justify-content: flex-start;
  gap: var(--spacing-400);
  align-self: flex-start;
  justify-self: flex-start;
}

.svg-link {
  stroke-width: 10px;
  fill: var(--primary-color);
}

/*  */
.contact-from {
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
}

.field-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-100);
}

.field-container {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  height: 100%;
  transition: all 0.5s ease;
  display: flex;
  margin-block: var(--spacing-100);
}

.field-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 10;
}

.input-field {
  border-radius: var(--radius-200);
  background-color: var(--primary-color-dark);
  color: var(--surface-grayish);
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  padding: var(--spacing-400);
  border: 0.125rem solid transparent;
}

.email {
  max-height: 60px;
  min-height: 60px;
}

.message {
  margin-top: var(--spacing-200);
}
.message-field {
  min-height: 150px;
  max-height: 150px;
  height: 100%;
}
.message .field-label {
  top: 20px;
  transform: translateY(0);
}

.input-field:focus-within,
.input-field:focus-visible,
.input-field:focus {
  border: 0.125rem solid var(--primary-color-opacity-80);
  box-shadow: 0.5rem 0.5rem 1rem -0.5rem var(--primary-color-opacity-50);
}

.field-container:focus-within .field-label,
.field-container:focus .field-label,
.field-container:focus-visible .field-label,
.drop-down-label,
.field-label[hasContent="true"] {
  top: 0;
  transform: translateY(-40%) scale(0.9);
  color: var(--secondary-color);
}

.submitBtn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: var(--icon-200);
  height: var(--icon-200);
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
}

.send-message-icon {
  fill: var(--primary-color);
  max-width: var(--icon-400);
  max-height: var(--icon-400);
}
@media (max-width: 65em) {
  .contact-section {
    display: flex;
    flex-direction: column;
    grid-template-columns: 100%;
    grid-template-rows: 10% 50% 25% 10%;
    min-height: 100vh;
  }
  .cos-title {
    grid-column: 1;
    grid-row: 1;
  }
  .cos-illustration {
    grid-row: 3;
    transform: scale(1.2);
    display: none;
  }
  form {
    grid-column: 1;
    grid-row: 2;
    height: 110%;
    margin-bottom: 1em;
  }
  .input-field {
    font-size: calc(1vw + 1vh + 0.25rem);
  }
  .socialIcons {
    width: 1.25rem;
    height: 1.25rem;
  }
  .socialLinksNavigation {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    place-content: space-between;
    place-items: center;
    place-self: flex-end;
    width: 95%;
  }
}

.cos-info {
  margin: var(--spacing-600) 0;
  max-width: var(--size-300);
}

.cos-info-link {
  font-weight: 400;
  justify-content: flex-start;
  gap: var(--spacing-100);
  fill: var(--primary-color-light);
  margin: var(--spacing-400) 0;
}

.section {
  height: 100vh;
  height: 100dvh;
  align-content: center;
}
