/* ? Third parties   */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Color+Emoji&family=Pacifico&family=Palanquin+Dark:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* ? Custom Props */
:root {
  /* * Colors  */
  --primary-color: #658280;
  --primary-color-opacity-90: #65828090;
  --primary-color-opacity-80: #65828080;
  --primary-color-opacity-70: #65828070;
  --primary-color-opacity-60: #65828060;
  --primary-color-opacity-50: #65828050;
  --primary-color-opacity-40: #65828040;
  --primary-color-opacity-30: #65828030;
  --primary-color-opacity-20: #65828020;
  --primary-color-opacity-10: #65828010;
  --secondary-color: #a0a096;
  --secondary-color-opacity-90: #a0a09690;
  --secondary-color-opacity-80: #a0a09680;
  --secondary-color-opacity-70: #a0a09670;
  --secondary-color-opacity-60: #a0a09660;
  --secondary-color-opacity-50: #a0a09650;
  --secondary-color-opacity-40: #a0a09640;
  --secondary-color-opacity-30: #a0a09630;
  --secondary-color-opacity-20: #a0a09620;
  --secondary-color-opacity-10: #a0a09610;
  /* * Fonts */
  /* --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Rubik", sans-serif;
  --tertiary-font: "Poppins", sans-serif; */
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Plus Jakarta Sans", sans-serif;
  --tertiary-font: "Work Sans", sans-serif;

  /* * Sizes */
  --font-link: calc(0.5vw + 0.5vh + 0.5rem);
  --font-button: calc(5px + 0.25rem + 0.5vmax + 10%);
  --font-100: calc(1.1vmax);
  --font-200: calc(10px + 0.25rem + 0.25em + 0.15vmax + 5%);
  --font-300: calc(0.5rem + 0.25vmax + 0.5vw + 0.5vh);
  --font-400: calc(0.5vw + 0.5vh + 0.75rem);
  --font-500: calc(0.5vw + 0.5vh + 0.75rem);
  --font-600: calc(1vmax + 0.75vw);
  --font-700: calc(20px + 0.5vmax + 0.5rem + 0.5vw + 0.5vh + 0.5em + 10%);
  --font-800: calc(1.25vmax + 2rem + 0.75vw + 0.75vh);
  --font-900: calc(1.5vmax + 2rem + 1vw + 1vh);

  /* ** Spacing */
  --spacing-100: 0.25rem;
  --spacing-200: 0.5rem;
  --spacing-300: 0.75rem;
  --spacing-400: 1.15em;
  --spacing-500: 1.75em;
  --spacing-600: 2.5em;
  --spacing-700: 3em;
  --spacing-800: 5em;
  --spacing-900: 7em;
  --spacing-dynamic: 10em;

  /* * Containers */
  --size-100: calc(1vh + 1vw + 2vmax);
  --size-200: calc(2vh + 15% + 2vw + 1em);
  --size-300: calc(5vh + 20% + 5vw + 2em);
  --size-400: calc(7.5vh + 25% + 7.5vw + 2em);
  --size-500: calc(7.5vh + 35% + 7.5vw);
  --size-600: calc(10vh + 35% + 10vw);
  --size-700: calc(30vh + 20vw + 10% + 2.5rem);
  --size-800: calc(35vh + 25vw + 15% + 5rem);
  --size-900: 100vmax;
  --size-action-button: 8.5em;

  /*  */

  --border-size-100: 0.15rem;

  /* * Icons */
  --icon-100: 12.5px;
  --icon-200: 25px;
  --icon-300: 30px;
  --icon-400: 35px;
  --icon-500: 40px;
  --icon-600: 50px;
  --icon-700: 45px;
  --icon-800: 55px;
  --icon-900: calc(1.5rem + 5px + 1.5em);

  /* *  Radius*/
  --radius-100: 0.25rem;
  --radius-200: 0.5rem;
  --radius-300: 0.75rem;
  --radius-400: 1rem;
  --radius-500: 1.25rem;
  --radius-rounded: 255em;
  --radius-dynamic: calc(1rem + 0.25vw + 0.25vh);
  --radius-circle: 50%;

  /** Custom sizes */
  --header-hight: min(10dvh, 10vh);

  /* ? Box shadows */
  --shadow-accent-text: 0.5px 0.5px 3px var(--primary-color-opacity-20);
  --box-shadow-200: 0 0 2em -1em var(--DarkModeOpacity);
  --box-shadow-500: 1px 1px 3em -1em var(--shadow-color-100);
  --box-shadow-600: 0 0 5em 1em var(--DarkModeOpacity);
  --shadow-accent-glow: 0 0 1em -0.5em var(--primary-color);

  /* ? Transitions   */

  --transition-300: all 0.5s ease;
  --transition-5ms-Ease: all 0.5s ease;
  --transition-backgroundColor-Ease: background-color 0.5s ease;

  /* ? Layers */
  --higher-layer: 100;
  --above-layer: 90;
  --backLayer: -100;
}

/* ? * Colors */

/* * Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color-dark: #282e2e;
    --primary-color-light: #f4f5ef;
    --background-color: #313636;
    --surface-light: #e5dfc6;
    --surface-gray: #b4b3b1;
    --surface-grayish: #d8d6d1;
    --surface-dark: #928c86;
    --theme-shadow: #b9b5ab8a;
    --opacity-dark-100: #11100ed7;
    --opacity-dark-300: #0e0b0ae5;
    --opacity-light-100: #ffffff26;
  }
}

/* * Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    --primary-color-dark: #fcf6db;
    --primary-color-light: #11100e;
    --opacity-dark-100: #11100ed7;
    --opacity-light-100: #141212c4;
    --background-color: #fcf6db;
    --theme-shadow: #b9b5ab8a;
    --surface-light: #c9c2a6;
    --surface-gray: #b4b3b1;
    --surface-grayish: #131212;
    --surface-dark: #928c86;
  }
}

/* ? * Sizes Laptops and small mentors */
@media (max-width: 90em) {
  :root {
  }
}

/* ? * Sizes Tablets and Mobiles */
@media (max-width: 65em) {
  :root {
    --font-link: calc(1vw + 1vh + 1rem);
    --icon-800: 80px;
  }
}

/* ? Remove and assign new Global styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: transparent;
  list-style: none;
  text-decoration: none;
  font: inherit;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  border: unset;
  color-scheme: dark light;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  accent-color: var(--primary-color);
  scroll-behavior: smooth;
  /* ! transition: color 0.7s ease-in-out, background-color 2s ease-in-out; */
}

/* ? Set core root defaults */

body,
body:focus-within,
html,
html:focus-within {
  scroll-padding: var(--header-hight, 10dvh, 10vh);
  overflow-x: hidden !important;
}

body {
  max-width: 100vw;
  max-width: 100dvw;
  width: 100vw;
  width: 100dvw;
  line-height: 1.5;
  background: var(--background-color);
  color: var(--primary-color-light);
  background-attachment: fixed;
  font-size: var(--font-200);
  font-family: var(--primary-font);
  font-weight: 500;
  /* transition: all 0.2s ease; */
}

/* When another element is observing disable scrolling */
body[isObserving="false"] {
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  overflow-y: hidden !important;
}

/* ? Typography styling */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--spacing-100);
  color: var(--primary-color-light);
  font-size: var(--font-500);
  font-family: var(--primary-font);
  font-weight: 700;
}

p {
  font-size: var(--font-200);
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

label {
  font-size: var(--font-100);
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-weight: 600;
}

a {
  display: inline-block;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: var(--font-link);
  letter-spacing: 1px;
  font-weight: 500;
}

input,
textarea,
select {
  padding: var(--spacing-100);
  font-family: var(--primary-font);
  caret-color: var(--primary-color);
  font-weight: normal;
  resize: none;
  border-radius: var(--radius-100);
}

textarea {
  padding-top: 1rem !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
  padding: var(--spacing-300);
  cursor: pointer;
}

option {
  color: var(--primary-color);
}

button {
  display: inline-block;
  font-size: var(--font-button);
  padding: var(--spacing-300);
  border-radius: var(--radius-100);
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-weight: 600;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
}

.primary-button {
  ----border-color: var(--primary-color);
  border: var(--border-size-100) solid var(----border-color);
  background-color: var(--primary-color);
  color: var(--primary-color-light);
}
.secondary-button {
  background-color: transparent;
  border: var(--border-size-100) solid var(--primary-color-light);
  color: var(--primary-color-light);
}

.action-buttons {
  justify-content: center;
  gap: var(--spacing-300);
  place-content: center;
  place-items: center;
  place-self: center;
  margin: var(--spacing-300);
  padding: 10em;
}

.button-svg {
  justify-content: space-around;
  fill: var(--primary-color-light);
}

abbr {
  position: relative;
  cursor: help;
}

::selection {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-shadow: none;
}

::-webkit-selection {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-shadow: none;
}

/* ? Set a default behavior for image style */

img,
picture,
svg {
  max-width: 100%;
  display: block;
  object-fit: cover;
  image-rendering: optimizeQuality;
  pointer-events: none;
}

/* ? Scroll bar */

::-webkit-scrollbar {
  ----scroll-bar-width: 8px;
  width: var(----scroll-bar-width);
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--surface-grayish);
  border: var(--background-color) var(--border-size-100) solid;
  border-radius: var(--radius-rounded);
  width: var(----scroll-bar-width);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #797369;
}

/* ? Custom elements styling */
keyword {
  color: var(--primary-color);
}
keyword[attr="tertiary"] {
  color: #729fb9;
}
keyword[attr="3d-like"] {
  text-shadow: 4px 4px 1px #9e5e0b;
}

keyword[attr="emoji"] {
  font-family: "Noto Color Emoji", sans-serif;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.flex {
  display: flex;
  align-items: center;
  align-content: center;
}

.contents {
  display: contents;
}

.grid {
  display: grid;
  align-items: center;
}

.center {
  place-content: center;
  place-items: center;
  place-self: center;
}

.space-between {
  justify-content: space-between;
}

.padding-100 {
  padding: var(--spacing-100);
}

.padding-200 {
  padding: var(--spacing-200);
}

.padding-300 {
  padding: var(--spacing-300);
}

.padding-400 {
  padding: var(--spacing-400);
}

.padding-500 {
  padding: var(--spacing-500);
}

.padding-600 {
  padding: var(--spacing-600);
}

.padding-700 {
  padding: var(--spacing-700);
}

.padding-800 {
  padding: var(--spacing-800);
}

.padding-900 {
  padding: var(--spacing-900);
}

.spacing-100 {
  gap: var(--spacing-100);
}

.spacing-200 {
  gap: var(--spacing-200);
}

.spacing-300 {
  gap: var(--spacing-300);
}
.spacing-400 {
  gap: var(--spacing-400);
}
.spacing-500 {
  gap: var(--spacing-500);
}
.spacing-600 {
  gap: var(--spacing-600);
}
.spacing-700 {
  gap: var(--spacing-700);
}

.spacing-800 {
  gap: var(--spacing-800);
}

.spacing-900 {
  gap: var(--spacing-900);
}

.max-width-40 {
  max-width: 40%;
}

.color-primary {
  fill: var(--primary-color);
  stroke: var(--primary-color);
  color: var(--primary-color);
}

.color-secondary {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  color: var(--secondary-color);
}

.color-light {
  fill: var(--primary-color-light);
  stroke: var(--primary-color-light);
  color: var(--primary-color-light);
}

.flip {
  transform: scaleX(-1);
}

.clickable {
  pointer-events: all;
  cursor: pointer;
  transition: var(--transition-5ms-Ease);
}

.svg-icon {
  pointer-events: none;
  display: inline-block;
  margin: var(--spacing-100);
}
.sm-svg {
  max-width: var(--icon-200);
  max-height: var(--icon-200);
}

.md-svg {
  max-width: var(--icon-200);
  max-height: var(--icon-200);
}

.lg-svg {
  max-width: var(--icon-900);
  max-height: var(--icon-900);
}

#data-wrapper {
  opacity: 0;
  position: absolute;
  transform: translate(-100vmax, -100vmax);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.orientation-message {
  display: none;
}

.go-up-button {
  position: fixed;
  z-index: var(--above-layer);
  width: var(--icon-500);
  height: var(--icon-500);
  bottom: 10%;
  right: 0;
  border-radius: var(--radius-circle) 0 0 var(--radius-circle);
  background-color: var(--primary-color);
  fill: var(--primary-color-light);
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
  transform: scale(0) translateX(-110%);
  transition: all 0.3s ease-in-out, transform 0.7s ease-out;
  pointer-events: none;
  opacity: 0;
}

.go-up-button[go-top-button="true"] {
  transform: translateX(0) scale(1);
  opacity: 0.7;
  pointer-events: all;
}

.skip-nav {
  position: absolute;
  top: 0;
  left: 0;
  border: var(--border-size-100) solid var(--primary-color);
  transform: translateY(-100%) scale(0.8);
  transition: var(--transition-300);
  z-index: var(--higher-layer);
}

/* scroll down button */
.scroll-down-button {
  background-color: transparent;
  position: absolute;
  display: grid;
  place-self: center;
  place-items: center;
  place-content: center;
  bottom: 1em;
  font-size: var(--font-500);
  font-weight: var(--Bold);
  width: 100%;
}

.scroll-icon {
  width: 25px;
  height: 50px;
  border-radius: 25px;
  border: var(--border-size-100) solid var(--primary-color-light);
  display: grid;
  place-content: center;
  place-items: center;
  cursor: pointer;
  background-color: transparent;
  margin-top: 0.5rem;
}

.innerScrollIcon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color-light);
  transform: translateY(-100%);
  animation: innerCircleAnim 4s ease alternate infinite;
}

/*  ? Main Content */

/* * No Script */
noscript {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--higher-layer);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  place-self: center;
  place-items: center;
  background: linear-gradient(var(--background-color));
}

/* * Header */
header {
  position: fixed;
  inset: 0;
  z-index: var(--above-layer);
  height: var(--header-hight, 10dvh, 10vh);
  width: 100%;
  justify-content: space-around;
  overflow: hidden;
  background-color: transparent;
  padding: var(--spacing-500) 0;
}

header[isInteracting="true"] {
  --headerHight: min(8vh, 8dvh);
  transform: translateY(-5%);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: var(--backgroundColor);
  opacity: 0.8;
}

/* * Logo */
.main-logo {
  z-index: var(--above-layer);
  width: 200px;
  height: 100px;
  object-fit: contain;
}

/* *  Navigation bar */
.main-menu {
  justify-content: flex-end;
}

.links-list {
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
  gap: var(--spacing-300);
}

.nav-button {
  display: none;
}

.link {
  transform: scale(0.9);
  color: var(--surface-light);
  transition: var(--transition-300);
  transform-origin: center;
}

.link[active="true"] {
  color: var(--primary-color);
  transform: scale(1);
  text-shadow: var(--shadow-accent-text);
}

.switchMode {
  width: var(--icon-800);
  height: var(--icon-800);
  filter: drop-shadow(0 0 0.5em var(--theme-shadow));
}

.sections-navigation-aside {
  z-index: var(--above-layer);
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: var(--spacing-500);
  place-content: center;
  place-items: center;
  place-self: center;
}

.sections-navigation-link {
  height: var(--icon-100);
  width: var(--icon-100);
  border-radius: var(--radius-rounded);
  background-color: var(--primary-color);
  margin: var(--spacing-300) auto;
  opacity: 0.9;
  transform: scale(0.8);
  transition: var(--transition-300);
}

.sections-navigation-link:hover {
  transform: scale(1.05);
  background-color: var(--secondary-color);
  opacity: 1;
}

main {
  padding-top: var(--header-hight);
}

.section {
  height: 100vh;
  height: 100dvh;
}

/* ? <-*-> Footer <-*-> */
footer {
  height: 50vh;
  height: 50dvh;
  width: 100vw;
  width: 100dvw;
  background-color: var(--primary-color);
  position: relative;
  margin-top: 50vh;
}

.footer-effect-image {
  width: 100vw;
  position: absolute;
  top: -30vw;
  left: 0;
}

.footer-section {
  gap: var(--spacing-300);
  padding: 0 var(--spacing-500);
  justify-content: space-around;
}

.footer-contact {
  max-width: 50ch;
}
address {
  display: grid;
  padding: var(--spacing-500) var(--spacing-100);
  gap: var(--spacing-300);
}

.contact-link {
  color: var(--primary-color-dark);
  font-size: var(--font-100);
  font-weight: 400;
  justify-content: flex-start;
  gap: var(--spacing-300);
}

.contact-link:hover {
  color: var(--primary-color-light);
}

.contact-link svg {
  stroke: var(--primary-color-dark);
}

.contact-link:hover svg {
  stroke: var(--primary-color-light);
}

.transform-down {
  transform: translateY(10%);
}

.transform-up {
  transform: translateY(-10%);
}

.contact-views {
  display: grid;
  place-content: flex-end;
  place-items: center;
  place-self: center;
  gap: var(--spacing-300);
  max-height: 40vh;
}

#form {
  overflow: hidden;
  max-width: 450px;
  max-height: 300px;
  width: 450px;
  height: 300px;
}

.map {
  width: 450px;
  height: 300px;
  border-radius: var(--radius-300);
  overflow: hidden;
  box-shadow: var(--box-shadow-500);
  opacity: 0.9;
}

/* hide all aria-hidden="false" inside contact-views*/
.contact-views *[aria-hidden="true"] {
  display: none;
}

.contact-title {
  font-size: var(--font-600);
  font-weight: 800;
  color: var(--primary-color-light);
}

.contact-description {
  font-size: var(--font-100);
  font-weight: 300;
  color: var(--primary-color-light);
  opacity: 0.8;
}

.contact-buttons {
  display: flex;
  gap: var(--spacing-300);
  justify-content: center;
  align-items: center;
  place-content: center;
  place-items: center;
  place-self: center;
}

.switch {
  background-color: var(--primary-color-light);
  width: 30px;
  height: 10px;
  border-radius: var(--radius-200);
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
}

.switch[active="false"] {
  width: 10px;
  opacity: 0.8;
}

.switch:hover {
  opacity: 1;
  transform: scaleX(1.1);
}

/* ?  Screens */
/* * Laptops and small size monitors*/

@media (max-width: 90em) {
}

/* * Tablets and Mobile  */
@media (max-width: 65em) {
  .skip-nav {
    display: none !important;
  }

  .sections-navigation-aside {
    display: none !important;
  }

  .main-menu {
    display: grid;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--backface-500);
    place-content: center;
    place-items: center;
    place-self: center;
    gap: 3em;
    background-color: var(--opacity-dark-300);
    display: none;
  }

  header {
    justify-content: space-between;
    padding: 0 var(--spacing-500);
  }

  /* * Menu button */

  .nav-button {
    width: var(--icon-900);
    height: var(--icon-900);
    border-radius: var(--radius-circle);
    display: grid;
    place-items: center;
    place-self: center;
    place-content: center;
    z-index: var(--above-layer);
    padding: 0;
  }

  .hamburger {
    transform: translate(0, 0) scale(1.2);
  }

  .hamburger .line {
    transition: all 1s ease;
    stroke: var(--primary-color);
    fill: none;
  }

  .nav-button[isToggled="true"] .hamburger {
    transform: translate(5%, -5%) rotate(45deg);
  }

  .nav-button .line {
    stroke-dasharray: 60 31 60 300;
  }

  .nav-button[isToggled="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
  }

  .main-menu[visible="true"] {
    display: grid;
  }
}

/* ? Hover Support  */
/* * Supports */
@media (hover: hover) {
  abbr.visible::after,
  abbr:hover::after,
  abbr:focus::after,
  abbr:focus-visible::after,
  abbr:focus-within::after {
    content: attr(title);
    position: absolute;
    top: -0.25rem;
    left: 0;
    width: 45ch;
    border-radius: 0.3rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--primary-color-light);
    background-color: var(--opacity-light-100);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: translateY(-100%);
  }

  .skip-nav:focus,
  .skip-nav:focus-visible {
    transform: translateY(0) scale(1);
    box-shadow: var(--shadow-accent-glow);
  }

  .go-up-button[go-top-button="true"]:hover {
    background-color: var(--secondary-color);
    transform: scale(1.5) translateX(-20%);
    border-radius: var(--radius-circle);
  }
  header:hover[isInteracting="true"] {
    --headerHight: min(10vh, 10dvh);
    opacity: 1;
    transform: translateY(0%);
  }

  .link:hover {
    transform: scale(1);
    color: var(--primary-color);
    text-shadow: var(--shadow-accent-text);
  }
  .primary-button:hover {
    ----border-color: var(--primary-color-light);
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    fill: var(--primary-color);
  }
  .secondary-button:hover {
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    fill: var(--primary-color);
  }
}

/* * does not Supports */
@media (hover: none) {
  .skip-nav {
    display: none !important;
  }
}

/* ?  Orientation */

@media (max-width: 65em) and (orientation: landscape) and (hover: none) {
  *,
  *::before,
  *::after {
    display: none !important;
  }
  html,
  body {
    display: grid !important;
    place-content: center !important;
    place-items: center !important;
    place-self: center !important;
  }
  .orientation-message {
    font-size: var(--headingFS);
    font-family: var(--primaryFont);
    font-weight: 900;
    display: grid !important;
    text-align: center;
    margin-top: 2em;
  }
}

/* ? Animation */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
